@import 'tailwindcss';

@theme {
  --color-primary: #011d4d;
  --color-secondary: #034078;
  --color-accent: #1282a2;
  --color-muted: #e4dfda;
  --color-darkBrown: #63372c;
}

@layer utilities {
  @keyframes bounce-up-down {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8%);
    }
  }

  .hover\:animate-bounce-up-down:hover {
    animation: bounce-up-down 0.4s ease-in-out;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(-10%);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slot-in {
    animation: slide-up 0.4s ease-in-out;
  }
}

.ant-drawer-body {
  background-color: #034078 !important;
}

.ant-menu-light {
  background-color: #034078 !important; /* secondary */
  color: white !important;
}

.custom-menu .ant-menu-item {
  background-color: #034078 !important;
  color: white !important;
}

.custom-menu .ant-menu-item-selected {
  background-color: #011d4d !important; /* secondary */
}

.custom-menu .ant-menu-item:hover {
  background-color: #011d4d !important; /* accent */
}
