@import 'tailwindcss';

@theme {
  --color-primary: #011d4d;
  --color-secondary: #034078;
  --color-accent: #1282a2;
  --color-muted: #e4dfda;
  --color-darkBrown: #63372c;
}

.ant-menu-light {
  background-color: #034078 !important; /* secondary */
  color: white !important;
}

.custom-menu .ant-menu-item {
  background-color: #034078 !important;
  color: white !important;
}

.custom-menu .ant-menu-item-selected {
  background-color: #011d4d !important; /* secondary */
}

.custom-menu .ant-menu-item:hover {
  background-color: #011d4d !important; /* accent */
}
